/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self

*/

#debug {
    border: 1px dashed #b22222;
    border-radius: 6px;
    padding: 10px;
    width: 700px;
    height: 180px;
}